<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K2VPB6YJ22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K2VPB6YJ22');
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Got a topic you'd like me to write on? Let me know <a href="https://github.com/nstarke/nstarke.github.io/issues/new">here</a></span>
        </div>
        {% for post in site.posts %}
        <article>
             <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
             <h2>
                 <a href="{{ post.url }}">
                     {{ post.title }}
                 </a>
             </h2>
         </article>
        {% endfor %}
      </section>
      <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    </div>
  </body>
</html>